.list {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.table {}

.table th {
  min-width: 7rem;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  padding: 4px 0 4px 0;
}